.pagination-outer{ text-align: center; }
.pagination{
    font-family: 'Mukta',sans-serif;
    display: inline-flex;
    position: relative;
}
.pagination li a.page-link{
    color: #fff;
    background: #444;
    font-size: 23px;
    font-weight: 600;
    line-height: 28px;
    height: 35px;
    width: 40px;
    padding: 10px;
    margin: 0 6px;
    border-radius: 5px 5px 0 0;
    border: none;
    border-top: 5px solid #0dc3aa;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link{
    color: #fff;
    background: #0dc3aa;
    line-height: 26px;
    border-top: 5px solid #0dc3aa;
    box-shadow: 0 2px 0 2px rgba(13, 195, 170, 0.4), 0 4px 0 4px rgba(13, 195, 170, 0.3);
}
@media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        display: inline-block;
    }
    .pagination li{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 15px;
    }
}